# Ignore everything by default
# /*

!/Target_Information_System/

# Allow these specific directories
!/m2dev-server-src/
!/m2dev-server/
!/m2dev-client-src/
!/m2dev-client/

# Allow .gitignore itself
!.gitignore
# Explicitly ignore logs/debug files even in allowed folders
/m2dev-server/web_manager_debug.log

# Ignore large binary files and build artifacts
**/*.pck
**/*.pdb
**/*.lib
**/*.exe
**/*.dll
**/ipch/
**/Debug/
**/Release/
**/bin/
**/obj/
**/build/
**/pack/
**/item_proto
**/mob_proto
**/m2dev-tools-3rd
**/m2dev-dump-proto
# User specific large files
/m2dev-client/Metin2.exe
.agent/
# Secrets
.env
translation_tool/.env

